include ../../blocks/icon/icon

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        header.form__header
            .ui__logo
                +icon('Group', '42px','42px')

        div.container 
            .colors
                .color
                    .color__pallete.color__pallete--dark-100
                    .color__attributes
                        .color__name='Dark Shade 100%'
                        .color__attribute='#1F2041'

                .color
                    .color__pallete.color__pallete--dark-75
                    .color__attributes
                        .color__name='Dark Shade 75%'
                        .color__attribute='#1F2041'

                .color
                    .color__pallete.color__pallete--dark-50
                    .color__attributes
                        .color__name='Dark Shade 50%'
                        .color__attribute='#1F2041'

                .color
                    .color__pallete.color__pallete--dark-25
                    .color__attributes
                        .color__name='Dark Shade 25%'
                        .color__attribute='#1F2041'
                
                .color
                    .color__pallete.color__pallete--dark-5
                    .color__attributes
                        .color__name='Dark Shade 5%'
                        .color__attribute='#1F2041'

                .color
                    .color__pallete.color__pallete--purple
                    .color__attributes
                        .color__name='Purple'
                        .color__attribute='#BC9CFF'
                
                .color
                    .color__pallete.color__pallete--green 
                    .color__attributes
                        .color__name='Green'
                        .color__attribute='#6FCF97'
            

            .texts 
                .texts__line 
                    .texts__label.texts__label-h1='H1'
                    h1.h1='This one is the sub-section or widget title'
                .texts__line 
                    .texts__label.texts__label-h2='H2'
                    h2.h2='Next one is the item title inside widgets'
                .texts__line 
                    .texts__label.texts__label-h3='H3'
                    h3.h3='This is a label or CTA text'
                .texts__line 
                    .texts__label='body'
                    .body__text='This is the body text which is used for most of the design, like paragraphs, lists, etc.'