include ../../blocks/icon/icon

- var first_menu = [{'name':'О нас', 'link':'/about-us'}, {'name':'Новости', 'link':'/news'}, {'name':'Служба поддержки', 'link':'/support'}, {'name':'Услуги', 'link':'/services'}];
- var second_menu = [{'name':'О сервисе', 'link':'/about-service'}, {'name':'Наша команда', 'link':'/team'}, {'name':'Вакансии', 'link':'/jobs'}, {'name':'Инвесторы', 'link':'/investors'}];
- var third_menu = [{'name':'Соглашения', 'link':'/terms'}, {'name':'Сообщества', 'link':'/community'}, {'name':'Связь с нами', 'link':'/contact'}];

mixin footer(className)
    div(class='container_'+className)
        footer(class=className)
            section(class=className+'__about')
                img(src=require('/src/assets/images/logo.svg')).logo
                p(class=className+'__text') Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            +footer__menu('Навигация', first_menu, className)
            +footer__menu('О нас', second_menu, className)
            +footer__menu('Служба поддержки', third_menu, className)
            section(class=className+'__subscribe')
                div(class=className+'.__header') Подписка
                p(class=className+'__text') Получайте специальные предложения и новости сервиса
                form(action="/submit" method="post" class="footer__form")
                    input(type="text" name="email" value="Email" class="footer__input")
                    input(type="submit" class="footer__button" value="")
            div(class=className+'__line ')
                p(class=className+'__text') Copyright © 2018 Toxin отель. Все права защищены.
                section(class=className+'__social')
                    ul.footer__social-list 
                        li(class=className+'__social-item')
                            a(href="#" class="footer__social-link") 
                                +icon('twitter', '24px', '24px')
                        li(class=className+'__social-item')
                            a(href="#" class="footer__social-link") 
                                +icon('facebook', '24px', '24px')
                        li(class=className+'__social-item')
                            a(href="#" class="footer__social-link") 
                                +icon('instagram', '24px', '24px')

mixin footer__menu (name='Меню', items='', className)
    section(class=className+'__menu')
        div(class=className+'__header')=name
        ul(class=className+'__items')
            each item in items
                li(class=className+'__item')
                    a(class=className+'_link' href=item.link)=item.name