include ../rating/rating

mixin room-card(params)
    -
        const {
            images={},
            room_name='',
            isLuxury=0,
            room_price='',
            reviews_count='',
            rating=''
        }=params

        
    .room-card
        .swiper
            .swiper-wrapper
                .swiper-slide
                    img.swiper-slide__image(src=require("../../assets/images/room1.png"), alt="")
                .swiper-slide
                    img.swiper-slide__image(src=require("../../assets/images/room2.png"), alt="")
            .swiper-pagination
            .swiper-button-prev
            .swiper-button-next
            .swiper-scrollbar

        .room-card__content
            .room-card__info
                .room-info__wrapper 
                    .room-info__number='№'
                    .room-info__name=room_name
                    span.room-info__luxury=isLuxury ? 'Люкс':''
                .room-info__wrapper 
                    .room-info__cost=room_price+'₽ '
                    .room-info__sum=' в сутки'

            .room-card__line
            
            .room-card__info
                .room-info__wrapper 
                    +rating('rating', 5)
                    .room-card__reviews-count='145 '
                    .room-card__reviews-text=' Отзывов'

