include ../../blocks/icon/icon
include ../../blocks/header/header
include ../../blocks/room-search/room-search
include ../../blocks/footer/footer
include ../../blocks/field-heading/field-heading
include ../../blocks/field-input/field-input
include ../../blocks/dropdown/dropdown
include ../../blocks/range-slider/range-slider
include ../../blocks/checkbox-buttons/checkbox-buttons

- var nav_menu = [{'name': 'О нас', 'link': '/'}, {'name': 'Услуги', 'link': '/about-us', 'subitems': [{'name': 'Консультации', 'link': '/consulting'}, {'name': 'Разработка', 'link': '/development'}, {'name': 'Проектирование', 'link': '/project'}]}, {'name': 'Вакансии', 'link': '/vacancy'}, {'name': 'Новости', 'link': '/news'}, {'name': 'Соглашения', 'link': '/agreements', 'subitems': [{'name': 'Пользовательское соглашение', 'link': '/user-agreement'}, {'name': 'Политика конфиденциальности', 'link': '/privacy-policy'}]}];
- var current_url = '/';
- var auth = false;

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        +header(nav_menu)
        .container  
            .filters
                .field__wrapper
                    +field-heading('Даты пребывания в отеле')
                    +field-input({'name':'datedropdown', 'date_range':'date_range', 'expander':true})

                .field__wrapper
                    +field-heading('Dropdown')
                    +dropdown({id:'dropdown_guest',open:false, buttons:true}, [
                    {'data-id':'old','data-selection-text':'Взрослые', 'data-defaultcount':'2'},
                    {'data-id':'young','data-selection-text':'Дети', 'data-defaultcount':'0'},
                    {'data-id':'too_young','data-selection-text':'Мланеднцы', 'data-defaultcount':'1'}
                    ])

                .field__wrapper
                    +field-heading('Диапазон цены',description='5000-10000', slider=true)
                    div(id='slider')
                    div.slider__text='Стоимость за сутки пребывания в номере'

                .field__wrapper
                    +field-heading('Правила дома')
                    +checkboxButtons([
                        { text: 'Можно курить', checked: false },
                        { text: 'Можно с питомцами', checked: true },
                        { text: 'Можно пригласить гостей (до 10 человек)', checked: true },
                    ])

                .field__wrapper
                    +checkboxButtons([
                        { text: 'Ширина коридоров в номере не менее 91 см.', checked: false, heading: 'Широкий коридор'},
                        { text: 'На 1 этаже вас встретит специалист  и проводит до номера.', checked: false, heading: 'Помощник для инвалидов' }],
                        expandable=false, heading_text='Удобства номера')

                .field__wrapper
                    +field-heading('Удобства номера')
                    +dropdown({open: false, id:'dropdown'}, [
                    {'data-id':'bedrooms','data-selection-text':'Спальни', 'data-defaultcount':'2'},
                    {'data-id':'beds','data-selection-text':'Кровати', 'data-defaultcount':'2'},
                    {'data-id':'bathroom','data-selection-text':'Ванные'}
                    ])

                .field__wrapper
                    +checkboxButtons([
                        { text: 'Завтрак', checked: false },
                        { text: 'Письменный стол', checked: true },
                        { text: 'Стул для кормления', checked: true },
                        { text: 'Кроватка', checked: true },
                        { text: 'Телевизор', checked: false },
                        { text: 'Шампунь', checked: false },
                    ], expandable=true, heading_text='Дополнительные удобства')
            .rooms-list 
                h1(class='rooms-list__header')='Номера которые мы для вас подобрали'
                


            