include ../../blocks/icon/icon
include ../../blocks/header/header
include ../../blocks/room-search/room-search
include ../../blocks/footer/footer
include ../../blocks/field-heading/field-heading
include ../../blocks/field-input/field-input
include ../../blocks/dropdown/dropdown
include ../../blocks/range-slider/range-slider
include ../../blocks/checkbox-buttons/checkbox-buttons
include ../../blocks/room-card/room-card
include ../../blocks/pagination/pagination

- var nav_menu = [{'name': 'О нас', 'link': '/'}, {'name': 'Услуги', 'link': '/about-us', 'subitems': [{'name': 'Консультации', 'link': '/consulting'}, {'name': 'Разработка', 'link': '/development'}, {'name': 'Проектирование', 'link': '/project'}]}, {'name': 'Вакансии', 'link': '/vacancy'}, {'name': 'Новости', 'link': '/news'}, {'name': 'Соглашения', 'link': '/agreements', 'subitems': [{'name': 'Пользовательское соглашение', 'link': '/user-agreement'}, {'name': 'Политика конфиденциальности', 'link': '/privacy-policy'}]}];
- var current_url = '/';
- var auth = false;

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        +header(nav_menu)
        .container  
            .filters
                .field__wrapper
                    +field-heading('Даты пребывания в отеле')
                    +field-input({'name':'datedropdown', 'date_range':'date_range', 'expander':true})

                .field__wrapper
                    +field-heading('Dropdown')
                    +dropdown({id:'dropdown_guest',open:false, buttons:true}, [
                    {'data-id':'old','data-selection-text':'Взрослые', 'data-defaultcount':'2'},
                    {'data-id':'young','data-selection-text':'Дети', 'data-defaultcount':'0'},
                    {'data-id':'too_young','data-selection-text':'Мланеднцы', 'data-defaultcount':'1'}
                    ])

                .field__wrapper
                    +field-heading('Диапазон цены',description='5000-10000', slider=true)
                    div(id='slider')
                    div.slider__text='Стоимость за сутки пребывания в номере'

                .field__wrapper
                    +field-heading('Правила дома')
                    +checkboxButtons([
                        { text: 'Можно курить', checked: false },
                        { text: 'Можно с питомцами', checked: true },
                        { text: 'Можно пригласить гостей (до 10 человек)', checked: true },
                    ])

                .field__wrapper
                    +checkboxButtons([
                        { text: 'Ширина коридоров в номере не менее 91 см.', checked: false, heading: 'Широкий коридор'},
                        { text: 'На 1 этаже вас встретит специалист  и проводит до номера.', checked: false, heading: 'Помощник для инвалидов' }],
                        expandable=false, heading_text='Удобства номера')

                .field__wrapper
                    +field-heading('Удобства номера')
                    +dropdown({open: false, id:'dropdown'}, [
                    {'data-id':'bedrooms','data-selection-text':'Спальни', 'data-defaultcount':'2'},
                    {'data-id':'beds','data-selection-text':'Кровати', 'data-defaultcount':'2'},
                    {'data-id':'bathroom','data-selection-text':'Ванные'}
                    ])

                .field__wrapper
                    +checkboxButtons([
                        { text: 'Завтрак', checked: false },
                        { text: 'Письменный стол', checked: true },
                        { text: 'Стул для кормления', checked: true },
                        { text: 'Кроватка', checked: true },
                        { text: 'Телевизор', checked: false },
                        { text: 'Шампунь', checked: false },
                    ], expandable=true, heading_text='Дополнительные удобства')
            
            .rooms
                h1(class='rooms__header')='Номера которые мы для вас подобрали'
                - var rooms = [{'room_name': '888', 'room_price': '9527', 'reviews_count': 7, 'images': ['room2.png', 'room1.png', 'room3.png'], 'isLuxury': 1}, {'room_name': '840', 'room_price': '8967', 'reviews_count': 5, 'images': ['room3.png', 'room2.png', 'room1.png'], 'isLuxury': 0}, {'room_name': '850', 'room_price': '9178', 'reviews_count': 8, 'images': ['room1.png', 'room3.png', 'room2.png'], 'isLuxury': 1}, {'room_name': '860', 'room_price': '8345', 'reviews_count': 2, 'images': ['room2.png', 'room1.png', 'room3.png'], 'isLuxury': 0}, {'room_name': '870', 'room_price': '9890', 'reviews_count': 9, 'images': ['room2.png', 'room3.png', 'room1.png'], 'isLuxury': 1}, {'room_name': '880', 'room_price': '9012', 'reviews_count': 6, 'images': ['room3.png', 'room1.png', 'room2.png'], 'isLuxury': 0}, {'room_name': '900', 'room_price': '8456', 'reviews_count': 4, 'images': ['room1.png', 'room2.png', 'room3.png'], 'isLuxury': 0}, {'room_name': '910', 'room_price': '9345', 'reviews_count': 10, 'images': ['room2.png', 'room1.png', 'room3.png'], 'isLuxury': 1}, {'room_name': '920', 'room_price': '9678', 'reviews_count': 1, 'images': ['room3.png', 'room2.png', 'room1.png'], 'isLuxury': 0}, {'room_name': '930', 'room_price': '8987', 'reviews_count': 8, 'images': ['room1.png', 'room3.png', 'room2.png'], 'isLuxury': 1}, {'room_name': '940', 'room_price': '9789', 'reviews_count': 7, 'images': ['room1.png', 'room2.png', 'room3.png'], 'isLuxury': 0}];

                .rooms__list
                    each roomCard in rooms
                        +room-card({
                            room_name: roomCard.room_name,
                            room_price: roomCard.room_price,
                            reviews_count: roomCard.reviews_count,
                            isLuxury: roomCard.isLuxury ? 1 : 0,
                            images: roomCard.images,
                        })
                
                
                    +room-card({
                        room_name:'840',
                        room_price:'9 900',
                        reviews_count:4,
                        images:[
                            'room3.png',
                            'room2.png',
                            'room1.png',
                            'room2.png',
                        ],
                        isLuxury:1
                    })
                +field-heading('Pagination')
                +pagination(15, 1)