mixin field-input(params = {})
    -
        const {
            placeholder = '',
            name = 'text',
            type = 'text',
            hover = '',
            value = '',
            masked = '',
            required = true,
            subscr = false,
            date_range = '',
            expander = false,
        } = params

    div(class='field')
        input.field__input(placeholder=placeholder, 
            type='text', 
            name=name, 
            class= hover,
            id = masked + date_range
            value=value
            required)
        if (subscr)
            input(type="submit" class="field__button" value="")
        if(expander) 
            div.expander