mixin field-input(params = {})
    -
        const {
            placeholder = '',
            name = 'text',
            type = 'text',
            hover = false,
            value = '',
            masked = false,
            required = true,
            subscr=false,
        } = params

    .field
        div(class= subscr ? 'field-subscr': '')
            input.field__input(placeholder=placeholder, 
                type='text', 
                name=name, 
                class= hover ? 'field__input-hover': '',
                id=masked ? 'field__input-masked': '',
                value=value
                required)
            if (subscr)
                input(type="submit" class="field__button" value="")