include ../../blocks/icon/icon
include ../../blocks/field-heading/field-heading
include ../../blocks/field-input/field-input
include ../../blocks/dropdown/dropdown
include ../../blocks/checkbox-buttons/checkbox-buttons
include ../../blocks/radio-buttons/radio-button
include ../../blocks/toggle/toggle
include ../../blocks/like-button/like-button
include ../../blocks/rating/rating
include ../../blocks/range-slider/range-slider
include ../../blocks/button/button
include ../../blocks/pagination/pagination
include ../../blocks/bullet/bullet
include ../../blocks/pros/pros
include ../../blocks/review/review

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        header.form__header
            .ui__logo
                +icon('Group', '42px','42px')
        div.container 
            div.ui__wrapper
                section.fields
                    .field__wrapper
                        +field-heading('Text Field', 'Default')
                        +field-input({'placeholder': 'Email', 'name':'email', 'hover':false, 'date_range': false})
                        
                    .field__wrapper
                        +field-heading('Text Field', 'Hover/Focus')
                        +field-input({'name':'email', 'hover':'field__input-hover', 'value':'This is pretty awesome'})

                    .field__wrapper
                        +field-heading('Dropdown')
                        +dropdown({id:'dropdown-guest-empty',open:false}, [
                        {'data-id':'old','data-selection-text':'Взрослые', 'data-defaultcount':'0'},
                        {'data-id':'young','data-selection-text':'Дети', 'data-defaultcount':'0'},
                        {'data-id':'too_young','data-selection-text':'Мланеднцы', 'data-defaultcount':'0'}
                        ])

                    .field__wrapper
                        +field-heading('Masked text field')
                        +field-input({'name':'email', 'hover':false, 'placeholder':'ДД.ММ.ГГГГ', 'masked': 'field__input-masked'})

                    .form__date
                        .field__wrapper
                            +field-heading('Date dropdown')
                            +field-input({name: "start_date", masked:"start_date", 'expander':true, 'placeholder': 'ДД.ММ.ГГГГ'})
                        .field__wrapper
                            +field-heading('Date dropdown')
                            +field-input({name: "end_date", masked:"end_date", 'expander':true})
                    .field__wrapper-m
                        +field-heading('Filter Date dropdown')
                        +field-input({'name':'datedropdown', 'date_range':'date_range', 'expander':true})

                    .field__wrapper-m
                        +field-heading('Subscription text field')
                        +field-input({'name':'email', 'placeholder':'Email', 'subscr':true})

                section.checkboxes
                    +field-heading('Checkbox Buttons')
                    +checkboxButtons([
                        { text: 'Можно курить', checked: false },
                        { text: 'Можно с питомцами', checked: true },
                        { text: 'Можно пригласить гостей (до 10 человек)', checked: true },
                    ])
                    .radio
                        +field-heading('Radio Buttons')
                        +radioButtons(['Мужчина', 'Женщина'], 0)
                    .radio
                        +field-heading('Toggle')
                        +toggle('toggle', 0, 'switch', 'Получать спецпредложения')
                        +toggle('toggle', 1, 'switch-2', 'Получать спецпредложения')
                    .radio
                        +field-heading('Like button')
                        +like-button('like-button-1', 1, 'like', '2')
                        +like-button('like-button-2', 0, 'like', '12')
                    .radio
                        +field-heading('Range button')
                        +rating('rating', 4)
                        +rating('rating2')

                section.buttons
                    +field-heading('Range slider',description='5000-10000', slider=true)
                    div(id='slider')

                    .radio
                        +field-heading('Buttons', slider=false)
                        .buttons__grid
                            +button({isFilled:true, text:'Click me'})
                            +button({isFilled:true, text:'Click me', isOpacity: true})
                            +button({isFilled:false, text:'Click me', isOpacity: false})
                            +button({isFilled:false, text:'Click me', isOpacity: true})
                        
                        +button({isFilled:true, text:'Click me', isOpacity: false, unBordered: true})
                        +button({isFilled:true, text:'Click me', isOpacity: true, unBordered: true})
                        +button({isFilled:true, text:'Перейти к оплате', isBig: true})
                    
                    .radio
                        +field-heading('Pagination')
                        +pagination(15, 1)
            
            div.ui__wrapper
                section.fields
                    .field__wrapper
                        +field-heading('Dropdown', 'default')
                        +dropdown({open: false, id:'dropdown'}, [
                        {'data-id':'bedrooms','data-selection-text':'Спальни', 'data-defaultcount':'2'},
                        {'data-id':'beds','data-selection-text':'Кровати', 'data-defaultcount':'2'},
                        {'data-id':'bathroom','data-selection-text':'Ванные'}
                        ])

                        +field-heading('Dropdown', 'expanded')
                        +dropdown({id:'dropdown-open',open:false}, [
                        {'data-id':'bedrooms','data-selection-text':'Спальни', 'data-defaultcount':'2'},
                        {'data-id':'beds','data-selection-text':'Кровати', 'data-defaultcount':'2'},
                        {'data-id':'bathroom','data-selection-text':'Ванные'}
                        ])

                section.fields
                    .field__wrapper
                        +field-heading('Dropdown')
                        +dropdown({id:'dropdown-guest-empty-2', open:true, buttons:true}, [
                        {'data-id':'old','data-selection-text':'Взрослые', 'data-defaultcount':'0'},
                        {'data-id':'young','data-selection-text':'Дети', 'data-defaultcount':'0'},
                        {'data-id':'too_young','data-selection-text':'Мланеднцы', 'data-defaultcount':'0'}
                        ])

                section.fields
                    .field__wrapper
                        +field-heading('Dropdown')
                        +dropdown({open: true, id:'dropdown_guest'}, [
                        {'data-id':'old','data-selection-text':'Взрослые', 'data-defaultcount':'2'},
                        {'data-id':'young','data-selection-text':'Дети', 'data-defaultcount':'1'},
                        {'data-id':'too_young','data-selection-text':'Мланеднцы'}
                        ])

            div.ui__wrapper
                section.fields
                    .field__wrapper
                        .radio
                            +checkboxButtons([
                            { text: 'Завтрак', checked: false },
                            { text: 'Письменный стол', checked: true },
                            { text: 'Стул для кормления', checked: true },
                            { text: 'Кроватка', checked: true },
                            { text: 'Телевизор', checked: false },
                            { text: 'Шампунь', checked: false },
                            ], expandable=true, heading_text='Expandable checkbox list')

                        .radio
                            +checkboxButtons([
                            { text: 'Завтрак', checked: false },
                            { text: 'Письменный стол', checked: true },
                            { text: 'Стул для кормления', checked: true },
                            { text: 'Кроватка', checked: true },
                            { text: 'Телевизор', checked: false },
                            { text: 'Шампунь', checked: false },
                            ], expandable=true, heading_text='Expandable checkbox list')
                            
                section.fields
                    .field__wrapper
                        .radio
                            +checkboxButtons([
                            { text: 'Ширина коридоров в номере не менее 91 см.', checked: false, heading: 'Широкий коридор'},
                            { text: 'На 1 этаже вас встретит специалист  и проводит до номера.', checked: false, heading: 'Помощник для инвалидов' }],
                            expandable=false, heading_text='rich checkbox buttons')

                section.fields
                    .field__wrapper
                        .radio
                            +field-heading('bullet list')
                            +bullet(['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'])
                
            div.ui__wrapper--footer
                section.fields
                    .field__wrapper
                        .radio
                            +pros([
                            {
                                image: '/images/comfort.svg',
                                title: 'Комфорт',
                                description: 'Шумоподавляющие стены',
                                separator: true,
                            },
                            {
                                image: '/images/location_city.svg',
                                title: 'Удобство',
                                description: 'Окно в каждой из спален',
                                separator: true,
                            }
                            ])

                section.fields
                    .field__wrapper
                        +review({
                            photo: '/images/avatar.png',
                            name: 'Мурад Сарафанов',
                            date: '5 дней назад',
                            likes: 12,
                            text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
                        })
